/*改背景为纯白 */
.list {
    background: #ffffff;
}




/* 改导航栏字体为24px */
nav a {
    font-size: 24px !important;
    font-weight: 700 !important;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}





/* 移除标题旁边的 # 号锚点链接 */
.anchor,
a.anchor {
    display: none !important;
}





/*导航栏 去掉下划线*/

#menu a, 
#menu .active {
    font-size: 24px !important;
    font-weight: 700 !important;
}
#menu .active {
    border-bottom: none !important;
}




/* 让文章和导航栏隔开距离 */
.main {
    margin-top: 80px !important;
}



/* 对每一篇文章的标签页 */
.post-entry,
.first-entry {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
    margin-bottom: 60px !important;
    padding: 0 !important;
    transform: none !important;
    transition: none !important;
}



/* 对第一篇文章的特殊修改 让它和其他文章一样*/
.first-entry {
    min-height: 0 !important;
    display: block !important;
}
.first-entry .entry-title {
    font-size: 24px !important;
}




/* 取消点击文章的抖动效果 */
.post-entry:active,
.first-entry:active {
    transform: none !important;
}

/* 每篇文章的标题大小改小 */
.post-title {
    font-size: 30px !important; 
}